.content {
  display: flex;
  flex-wrap: wrap;
}

.header__menu {
  display: none;
}

.hero, .hero2, .top-news, .scores, .weather, .recent-news {
  order: 10;
}

@media screen and (max-width: 549px) {
  .header__logo {
    height: 48px;
    margin-right: 0.5em;
  }
  .header__title {
    margin-left: 0;
    font-size: 2em;
    vertical-align: bottom; 
  }
  .nav {
    z-index: 10;
    background-color: #fff;
    width: 300px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }
  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav__item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }
  .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em 0;
  }
  .header__menu svg {
    width: 32px;
    fill: #E0E0E0;
  }
  body p, body a {
	font-size: 1.1em;
  }
  body h3, body h2 {
	font-size: 1.6em;
  }
  .recent-news {
	padding: 3em;  
  }

  .scores__table {
	font-size: 1.2em;
  }
  footer {
	font-size: 1.1em;
  }
  nav a {
	font-size: 1.6em;
  }
  .news__title {
	font-size: 1.6em;
  }
}

@media screen and (min-width: 550px) {
  .hero, .hero2 {
    order: 0;
    width: 60%;
  }
  .weather {
    order: 1;
    width: 40%;
  }
  .scores__location {
	font-size: 0.9em;  
  }
  body p, body a {
	font-size: 1.2em;
  }
  body h3, body h2 {
	font-size: 1.8em;
  }
  .recent-news {
	padding: 4em;  
  }
  .scores__table {
	font-size: 1.2em;
  }
  footer {
	font-size: 1.3em;
  }
  nav a {
	font-size: 1.8em;
  }
  .news__title {
	font-size: 1.8em;
  }
}

@media screen and (min-width: 700px) {
  .hero, .hero2 {
    width: 50%;
  }
  .top-news {
    order: 1;
    width: 50%;
  }
  .scores {
    order: 2;
    width: 60%;
  }
  .weather {
    order: 3;
  }
  body p, body a {
	font-size: 1.3em;
  }
  body h3, body h2 {
	font-size: 1.8em;
  }
  .recent-news {
	padding: 8em;  
  }

  .scores__table {
	font-size: 1.2em;
  }
  footer {
	font-size: 1.5em;
  }
  nav a {
	font-size: 2.0em;
  }
  .news__title {
	font-size: 2.0em;
  }
}

@media screen and (min-width: 850px) {
  main, .header__inner, .nav, .content {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}


/* minor breakpoints */
@media screen and (max-width: 300px) {
	.hero2-text p, .recent-news p {
		display: none;
	}
	.hero2-text {
		font-size: 8px;
	}
	.recent-news img {
		padding: 0.2em 0.2em;
	}
	.weather__next__item {
		font-size: 0.8em;
	}	
	.weather__next__image {
		width: 80%;
	}
	.weather {
		width: 100%;
	}
	.weather__today__image {
		width: 100%;
	}
	.weather__today__temp {
		font-size: 2em;
	}
	.top-news {
		max-height: 100%;
	}
	.header__logo {
		width: 30px;
		height: 30px;
	}
	.header__title {
		font-size: 1em;
	}
	.header__menu svg {
		width: 20px;
	}
	.header_menu {
		padding: 1em 0 !important;
	}
}